%h1 Popular

%div#app
  - while @popular.present? do
    .row
      - 4.times do
        - medium = @popular.pop
        .span3
          = image_tag medium.images.low_resolution.url, class: 'media'
          = medium.caption.text if medium.caption